body{
    font-family: cursive;
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(https://image.cdn2.seaart.ai/2023-08-05/52814957019205/b73c0f1551b7146d6e4f794aab64563644b7675d_high.webp);
    backdrop-filter: opacity(40%);
    background-position: center;
}

header{
    background: rgb(248, 210, 167);
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    color: azure;
    text-decoration: none;
}

#about{
    padding: 20px;
    backdrop-filter:saturate(30%);
   
}

#about h2{
    margin-top: 0;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project{
    width: 300px;
    padding: 10px;
    background: rgb(248, 210, 167);
    border: 1px solid #ffffff;
    text-align: center;
}

.project img{
    max-width: 100%;
    height: auto;
}

#contact{
    padding: 20px;
}

form{
    display: flex;
    flex-direction:column;
    color: #ffffff;
}

form label{
    margin-bottom: 5px;
    color: #ffffff;
}

form input, form textarea{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    
}

form input [type="submit"]{
    background: #eb6363;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px){
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gallery{
        flex-direction: column;
        align-items: center;
    }
}

img{
    align-content: center;
}

#yo{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}